.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.notification {
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.notification .status {
  font-weight: bold;
  margin-bottom: 5px;
}

.notification .content {
  margin: 0;
}

.btn-close {
  background: none;
  border: none;
  color: var(--color-button);
  cursor: pointer;
  font-size: var(--font-size-regular);
  margin-left: 10px;
  padding: 0;
}

.btn-close:hover {
  color: var(--color-button-hover);
}

.toast:not(.showing):not(.show) {
  opacity: 1 !important;
}

.toast.success .notification {
  background-color: var(--color-success);
}

.toast.success .check-icon {
  color: var(--color-check);
}

.toast.error .notification {
  background-color: var(--color-tertiary);
}

.toast.error .error-icon {
  color: var(--color-secondary);
}
